*{
border: 0;
padding-top: 0em;
padding-bottom: 0em;
padding-left: 0em;
padding-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-decoration: none;
font-family: Arial; 
}

.headline{
color: #333; 
font-size: 19pt;
font-weight: bold;
text-decoration: none; 
}