@main("Build your bike for dummies") {
<div class="content">
	<div class="headline">Impressum</div>
		<iframe width="451" height="270" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=10.020722150802612%2C53.555963183773336%2C10.024605989456177%2C53.55755329954288&amp;layer=mapnik" style="border: 1px solid #aaa; right: 0px; position: absolute; top: 13px;"></iframe>
	<br />
	<div class="text">
		<b>SEP/02</b><br />
		<i>(Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV)</i><br />
		Berliner Tor 5<br />
		20099 Hamburg<br /><br /><br />
		<b>Webdesign & Umsetzung</b><br />
		Henning.Kahl@@web.de<br /><br /><br />
		<b>Programmierung</b><br />
		Abdessamad Aouam, Torben-Dennis Mader, Dimitri Meier, Saeed Shanidar<br /><br /><br />
		<b>Haftungsausschluss</b><br />
		Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.<br /><br /><br />
		<b>Nutzungsrechte</b><br />
		Enthaltene Materialien unterliegen dem Schutz des Urheberrechts sowie anderer Schutzrechte und sind das geistige Eigentum des jeweiligen Inhabers.
		Durch Nutzung dieses Internetangebots wird keine Lizenz zur Nutzung der genannten Materialien eingeräumt. Dauerhafte Speicherung, Veränderung und Weitergabe sind nicht zulässig.<br />Ein Zugriff darf lediglich in Verbindung mit der Nutzung unserer Internetangebote geschehen.<br /><br /><br />
		<b>Schutzmarken</b><br />
		Genannte oder gezeigte Markennamen, Warenzeichen, Handelsnamen oder Schutzmarken sind Eigentum der jeweiligen Inhaber. Die Verwendung erfolgt ausschließlich unter Anerkennung aller Rechte der jeweiligen Rechteinhaber, auch wenn diese nicht unmittelbar gekennzeichnet oder erkennbar sein sollten.
		<br />Bei Domainstreitigkeiten, handelsrechtlichen oder wettbewerbsrechtlichen Problemen oder falls Sie vermuten,<br /> dass auf unseren Seiten ein Recht verletzt wird, teilen Sie uns dieses bitte umgehend per E-Mail mit,<br />damit wir für schnelle Abhilfe sorgen können.
		Wir weisen ausdrücklich darauf hin, dass wir eine Kostennote einer anwaltlichen Abmahnung ohne vorhergehende Kontaktaufnahme mit uns im Sinne der Schadenminderungspflicht<br />als unbegründet zurückweisen werden.<br /><br /><br />
		<b>Inhalte</b><br />
		Die Inhalte unserer Internetauftritte werden stets aktualisiert. Für die Richtigkeit und Fehlerfreiheit der bereitgestellten Informationen wird keine Gewährleistung übernommen.<br /><br /><br />
		<b>Geschütze Bereiche</b><br />
		Der Zugang zu geschützten Bereichen ist ausschließlich befugten Personen gestattet. Wir behalten uns rechtliche Schritte gegen Personen vor, die ohne ausdrückliche Erlaubnis versuchen, sich Zugang zu diesen Bereichen zu verschaffen.<br /><br /><br />
		<b>Datenverarbeitung</b><br />
		Wir erheben und speichern automatisch Informationen, die Ihr Browser standardmäßig an uns übermittelt<br />(z.B. Browsertyp und -version). Diese Daten sind für uns nicht bestimmten Personen zuordbar.<br /> Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.<br /><br /><br />
		<b>Persönliche Daten</b><br />
		Von Ihnen mitgeteilte Informationen (z.B. durch Formulare) werden ausschließlich im Sinne des Geschäftsverkehrs zwischen uns und Ihnen verwendet. Die Weitergabe von personenbezogenen Daten an Dritte in einem anderen<br /> Sinne ist ausgeschlossen.<br /><br /><br />
		<b>Änderungen</b><br />
		Wir behalten uns das Recht vor, diese Bedingungen jederzeit ohne vorherige Ankündigung zu verändern.<br />
	</div>
</div>
	}