@main("Build your bike for dummies") {
	<html lang="de">
	<div id="timeline-bg">
		<div id="timeline">
			<table height="50px" width="850px">
				<colgroup>
		@for(i <- 0 to 8) {
			@Html("<col>")
			@Html("<col width=\\\"6px\\\">")
		}

				</colgroup>
				<tr>
		@for(p <- Array("Typ","Farbe","Größe","Gabel","Reifen","Schaltung","Sattel","Licht","Zubehör")){
			<td align="center"> <b class="text">@p</b> </td>
			<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>
		}
				</tr>
			</table>
		</div>
	</div>
	<div id="view-bg">
		<div id="view"><img alt="$php" height="366px" src="@routes.Assets.at("images/stadtrad/stadtrad-blau.png")" width="591px"/></div>
	</div>
	<div id="infobox-bg">
		<div id="infobox">
			<b>Fahrradtyp:</b><br /><br />
			Sie haben die Auswahl zwischen:<br /><br />
			- <a href="">Crossrad</a><br />
			- <a href="">Mountainbike</a><br />
			- <a href="">Stadtrad</a><br /><br />
			Im <a href="step02">nächsten Schritt</a> wählen Sie die Rahmenfarbe aus.<br /><br />
		</div>
	</div>
	<div id="menu">
		<div id="info">
			<div id="info-bg-left"></div>
			<div id="info-bg-center"><div class="info">Aktueller Preis: php€</div></div>
			<div id="info-bg-right"></div>
		</div>
		<div id="next"><a href="step02"><img alt="Next" src="@routes.Assets.at("images/next.png")" /></a></div>
	</div>
	</html>
}