@main("Build your bike for dummies") {
	<html lang="de">
	<form id="step" action="@routes.Verlinkung.step02()" method="post">

	<div id="timeline-bg">
		<div id="timeline">
			<table height="50px" width="850px">
				<colgroup>
		@for(i <- 0 to 8) {
			@Html("<col>")
			@Html("<col width=\\\"6px\\\">")
		}

				</colgroup>
				<tr>
		@for(p <- Array("Typ","Rahmen","Farbe/ Höhe","Gabel","Felge","Mantel","Vorbau","Sattel","Licht","Zubehör")){
			<td align="center"> <b class="text">@p</b></td>
			<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>
		}
				</tr>
			</table>
		</div>
	</div>
	<div id="view-bg">
		<div id="view">

			<img id="B2" alt="Ein Fahrrad :D" height="366px" src="@routes.Assets.at("images/stadtrad.png")" width="591px"/>
			<img id="B1" alt="Ein Fahrrad :D" height="366px" src="@routes.Assets.at("images/mountainbike.png")" width="591px"/>
			<img id="B0" alt="Ein Fahrrad :D" height="366px" src="@routes.Assets.at("images/hollandrad.png")" width="591px"/>
		</div>

	</div>

		<script>
			function meinscript(divID,maxDivID){
				for(i = 0; i < maxDivID; i++){
					$('#D'+i).hide();
					$('#B'+i).hide();
				}
				$('#D'+divID).show();
				$('#B'+divID).show();
			}
		</script>

	<div id="infobox-bg">
		<div id="infobox">

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="überschriftEins">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseEins" aria-expanded="true" aria-controls="collapseEins">
								<b class="text">Fahrradtyp</b>
							</a>
						</h4>
					</div>
					<div id="collapseEins" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins">
						<div class="panel-body" style="overflow: auto; height: 265px; background-color: #f4efff">

							Sie haben die Auswahl zwischen:<br /><br />

							<input id = "0" type="radio" onclick="meinscript(0,3)" checked="checked" name="Fahrradtyp" value="City Bike"> <label for="0">City Bike</label><br>
							<input id = "1" type="radio" onclick="meinscript(1,3)" name="Fahrradtyp" value="Mounten Bike"> <label for="1">Mounten Bike</label><br>
							<input id = "2" type="radio" onclick="meinscript(2,3)" name="Fahrradtyp" value="Trekking Bike"> <label for="2">Trekking Bike</label>

						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="überschriftZwei">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseZwei" aria-expanded="false" aria-controls="collapseZwei">
								<b class="text">Beschreibung</b>
							</a>
						</h4>
					</div>
					<div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftZwei">
						<div class="panel-body" style="overflow: auto; height: 265px; background-color: #f4efff">

							<div id="D0" style="display: block">
								City Bikes, das Wunder der Technik. Die meisten Radfahrer schwören hier drauf laut einer nicht repräsentativen Studie des Nichtrepräsentativenstudien-Verlags (welcher von uns zu diesen Zweck erstellt wurde).
								Wenn sie sich wünschen täglich durch die Städte jedes landes zu fahren und meistens auf Straßen mit einen festen Belag unterwegs sind, ist DAS genau das richtige für sie.
							</div>
							<div id="D1" style="display: none">
								Schnell über jegliche Berge fahren, wer möchte das nicht? Durch diese Bikes brauchen ihnen Bodenschläge keine Angst mehr machen (es sei denn sie bestellen hier).
								Durch die Federungen, die diese Kategorie bietet, haben sie garantiert keine Probleme mit unebenen gegenden.
							</div>
							<div id="D2" style="display: none">
								Ein wenig übers land fahren, lange Strecken? Genau das macht diese Kategorie aus. Hier wird speziell auf den Ausgleich von Gewicht zu Komponenten geachtet (deswegen ist vieles aus Plastik [was so viel bedeutet wie UV-Aktiv]), um immer eine hohe Geschwindigkeit zu garantieren.
								Wenn sie gern Touren fahren, auch mal übers Land, so ist dies die richtige Kategorie.
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
		<script>
			meinscript(0,3);
		</script>
	<div id="menu">
		<div id="info">
			<div id="info-bg-left"></div>
			<div id="info-bg-center"><div class="info">Aktueller Preis: @controllers.KonfigurationSession.getKonfigurationFromSession.getKonfigurationsPreis() &euro;</div></div>
			<div id="info-bg-right"></div>
		</div>
		<div id="next"><img onclick="$('#step').submit();" alt="Next" src="@routes.Assets.at("images/next.png")" /></div>
	</div>
	</form>
	</html>
}