@(message: String)

@main("Build your bike for dummies") {
<div class="content">
	<div class="headline">Anmelden <span style="margin-left: 289px;">Registrieren</span></div><br />
	<div class="text" style="margin-right: 0px;">
		<div id="form">
			<form action="login" method="post" onsubmit="">
				<p>
                    <label id="resultLogin" class="text">
                        @if(message != null){
                            @message
                        }
                    </label><br>

					<label class="text" for="username">Benutzername</label><br />
					<input id="username" name="username" value="" size="40" />
				</p>
				<p>
					<label class="text" for="password">Passwort</label><br />
					<input id="password" name="password" type="password" value="" size="40" />
				</p>
                <p>
					<input id="submit" style="cursor: pointer !important;width: 303px;" type="submit" value="Anmelden" />
				</p>
			</form>
		</div>
	</div>
	<div class="text" style="margin-left: 418px; position: absolute; top: 58px;">
		Ich bin neu hier und möchte mich registrieren<br />
		<a href="registrieren"><input style="cursor: pointer !important; width: 333px;" type="button" value="Registrieren" /></a>
	</div>
</div>
	}