@(message: String)
@main("Build your bike for dummies") {
<div class="content">
	<div class="headline">Registrieren</div><br />	
	<div id="form">
        @if(message != null){
            @message
        }
		<form action="registrieren" method="post" onsubmit="">
			<input name="session" type="hidden" value="" />
			<div class="text">
				<p>
					<label class="text" for="email">E-Mail Adresse*</label><br />
					<input id="username" name="email" value="" size="40" />
				</p>
				<p>
					<label class="text" for="passwort">Passwort*</label><br />
					<input id="password" name="passwort" type="password" value="" size="40" />
				</p>
				<p>
					<label class="text" for="passwort">Passwort wiederholen*</label><br />
					<input id="password" name="passwort" type="password" value="" size="40" />
				</p>
				<p>
                    <label class="text" for="gebDatum">Geburtsdatum*</label><br />
                    <input id="password" name="gebDatum"  value="" size="40" />
                </p>
				<p>
					<input id="submit" style="cursor: pointer !important; margin-top: 3px; width: 721px;" type="submit" value="Registrieren" />
				</p>
			</div>
			<div class="text" style="margin-left: 418px; position: absolute; top: 58px;">
				<p>
					Anrede*<br />
					<select size="1">
						<option>&nbsp; &nbsp; -- Anrede -- &nbsp; &nbsp;</option>
						<option>Frau</option>
						<option>Herr</option>
					</select>
				</p>
				<p>
					<label class="text" for="vorname">Vorname*</label><br />
					<input id="surname" name="vorname" value="" size="40" />
				</p>
				<p>
					<label class="text" for="nachname">Nachname*</label><br />
					<input id="lastname" name="nachname" value="" size="40" />
				</p>
				<p>
					<label class="text" for="plz">PLZ, Ort*</label><br />
					<input id="plz" name="plz" value="" size="5" />
					<input id="location" name="stadt" value="" size="31" />
				</p>
				<p>
					<label class="text" for="stasse">Straße*</label><br />
					<input id="street" name="strasse" value="" size="40" />
				</p>
                <p>
                    <label class="text" for="hausNr">Hausnummer</label><br>
                    <input id="streetN" name="hausNr" value="" size="40">
                </p>
				<p>
					<label class="text" for="telefonNr">Telefonnummer*</label><br />
					<input id="phone" name="telefonNr" type="tel" value="" size="40" />
				</p>
			</div>
		</form>
	</div>
</div>
}