@(vorbauList : java.util.List[models.TeileKomponente.DTO.EinzelteilDTO])

@main("Build your bike for dummies") {
	<html lang="de">
	<form id="step" action="@routes.Verlinkung.step08()" method="post">

		<div id="timeline-bg">
		<div id="timeline">
			<table height="50px" width="850px">
				<colgroup>
				@for(i <- 0 to 8) {
					@Html("<col>")
					@Html("<col width=\\\"6px\\\">")
				}

				</colgroup>
				<tr>
				@for(p <- Array("Typ","Rahmen","Farbe/ Höhe","Gabel","Felge","Mantel","Vorbau","Sattel","Licht","Zubehör")){
					<td align="center"> <b class="text">@p</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>
				}
				</tr>
			</table>
		</div>
	</div>
	<div id="view-bg">
		<div id="view"><img alt="$php" height="366px" src="@routes.Assets.at("images/stadtrad/stadtrad-blau.png")" width="591px"/></div>
	</div>
	<div id="infobox-bg">
		<div id="infobox">


			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="überschriftEins">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseEins" aria-expanded="true" aria-controls="collapseEins">
								<b class="text">Vorbau</b>
							</a>
						</h4>
					</div>
					<div id="collapseEins" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins">
						<div class="panel-body" style="overflow: auto; height: 265px; background-color: #f4efff">

							Sie haben die Auswahl zwischen:<br /><br />
								<table style="border-spacing: 0px;">
								@for(i <- 0 to vorbauList.size()-1){

									@if(i == 0){
										<tr>
											<td align="left" height="20px" width="40px">
												<input id="@i" checked="checked"  name="Vorbau" type="radio" onclick="meinscript(@i,@vorbauList.size())" value="@vorbauList.get(i).getId()">
											</td>
											<td align="center" height="20px" width="200px">
												<label for="@i">Vorbau @(i+1)</label>
											</td>
										</tr>

									}else{

										<tr>
											<td align="left" height="20px" width="40px">
												<input id="@i" name="Vorbau" type="radio" value="@vorbauList.get(i).getId()" onclick="meinscript(@i,@vorbauList.size())">
											</td>
											<td align="center" height="20px" width="200px">
												<label for="@i">Vorbau @(i+1)</label>
											</td>
										</tr>
									}
								}
								</table><br>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="überschriftZwei">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseZwei" aria-expanded="false" aria-controls="collapseZwei">
								<b class="text">Beschreibung</b>
							</a>
						</h4>
					</div>
					<div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftZwei">
						<div class="panel-body" style="overflow: auto; height: 265px; background-color: #f4efff">

						@for(i <- 0 to vorbauList.size()-1){

							@if(i == 0){

								<div id="D@i" style="display: block">
									<b>Preis:</b> @vorbauList.get(i).getPreis &euro;
									<br>
									@vorbauList.get(i).getWerbetext
								</div>

							}else{

								<div id="D@i" style="display: none">
									<b>Preis:</b> @vorbauList.get(i).getPreis &euro;
									<br>
									@vorbauList.get(i).getWerbetext
								</div>

							}
						}

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div id="menu">
		<div id="info">
			<div id="info-bg-left"></div>
			<div id="info-bg-center"><div class="info">Aktueller Preis: @controllers.KonfigurationSession.getKonfigurationFromSession.getKonfigurationsPreis() &euro;</div></div>
			<div id="info-bg-right"></div>
		</div>
		<div id="next"><img onclick="$('#step').submit();" alt="Next" src="@routes.Assets.at("images/next.png")" /></div>
	</div>
	</form>
	</html>
}