@main("Build your bike for dummies") {
	<div id="timeline-bg">
		<div id="timeline">
			<table height="50px" width="850px">
				<colgroup>
				@for(i <- 0 to 8) {
					@Html("<col>")
					@Html("<col width=\\\"6px\\\">")
				}
				</colgroup>
				<tr>
					<td align="center"> <b class="text">Typ</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Farbe</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Größe</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Gabel</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Reifen</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Schaltung</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Sattel</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Licht</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

					<td align="center"> <b class="text">Zubehör</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>

				</tr>
			</table>
		</div>
	</div>
	<div id="view-bg">
		<div id="view"><img alt="$php" height="366px" src="@routes.Assets.at("images/stadtrad/stadtrad-blau.png")" width="591px"/></div>
	</div>
	<div id="infobox-bg">
		<div id="infobox">
			<b>Reifen:</b><br /><br />
			Soll der Reifen unplattbar sein?<br /><br />
			<form action="step05#form">
				<select size="1">
					<option>Nein</option>
					<option>Ja</option>
				</select><br /><br />
			</form>
			Im <a href="step06">nächsten Schritt</a> wählen Sie die Schaltungstyp aus.<br /><br />
		</div>
	</div>
	<div id="menu">
		<div id="info">
			<div id="info-bg-left"></div>
			<div id="info-bg-center"><div class="info">Aktueller Preis: php€</div></div>
			<div id="info-bg-right"></div>
		</div>
		<div id="next"><a href="step06"><img alt="Next" src="@routes.Assets.at("images/next.png")" /></a></div>
	</div>
}