@main("Build your bike for dummies") {
	<div id="timeline-bg">
		<div id="timeline">
			<table height="50px" width="850px">
				<colgroup>
				@for(i <- 0 to 8) {
					@Html("<col>")
					@Html("<col width=\\\"6px\\\">")
				}

				</colgroup>
				<tr>
				@for(p <- Array("Typ","Rahmen","Gabel","Felge","Mantel","Vorbau","Sattel","Licht","Zubehör")){
					<td align="center"> <b class="text">@p</b> </td>
					<td><img alt="|" height="41px" src="@routes.Assets.at("images/timeline-break.png")" /></td>
				}
				</tr>
			</table>
		</div>
	</div>
	<div id="view-bg">
		<div id="view"><img alt="$php" height="366px" src="@routes.Assets.at("images/stadtrad/stadtrad-blau.png")" width="591px"/></div>
	</div>
	<div id="infobox-bg">
		<div id="infobox">



			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="überschriftEins">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseEins" aria-expanded="true" aria-controls="collapseEins">
								<b>Felge</b>
							</a>
						</h4>
					</div>
					<div id="collapseEins" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins">
						<div class="panel-body" style="overflow: auto; height: 265px; background-color: #f4efff">

							Sie haben die Auswahl zwischen:<br /><br />
							<form action="step04#form">
								<select size="1">
									<option>Felge 1</option>
									<option>Felge 2</option>
								</select><br /><br />
							</form>

						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="überschriftZwei">
						<h4 class="panel-title">
							<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseZwei" aria-expanded="false" aria-controls="collapseZwei">
								<b>Beschreibung</b>
							</a>
						</h4>
					</div>
					<div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftZwei">
						<div class="panel-body" style="overflow: auto; height: 265px; background-color: #f4efff">
							Fahrrad fahrrad FAHRRAD  Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD
							Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD
							Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD
							Fahrrad fahrrad FAHRRAD Fahrrad fahrrad FAHRRAD
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div id="menu">
		<div id="info">
			<div id="info-bg-left"></div>
			<div id="info-bg-center"><div class="info">Aktueller Preis: php€</div></div>
			<div id="info-bg-right"></div>
		</div>
		<div id="next"><a href="step05"><img alt="Next" src="@routes.Assets.at("images/next.png")" /></a></div>
	</div>
}