@main("Build your bike for dummies") {
<div class="content">
	<div class="headline">Warenkorb</div><br />
	<div class="text" style="color: #333;">
		<form action="@routes.WarenkorbSession.removeKonfiguration()" method="post">
			<table width="850px">
				<colgroup>
					<col width="550">
					<col width="100px">
					<col width="100px">
				</colgroup>
				<tr align="center" bgcolor="#bbb" height="26px">
					<td>Produkt</td>
					<td></td>
					<td>Gesamtpreis</td>
				</tr>
				@for(konfiguration <-controllers.WarenkorbSession.getWarenkorbFromSessionAsDTO.getKonfigurationList){

					<tr align="center" bgcolor="#ccc" height="80px">
						<td align="left"><img alt="Bild" src="@routes.Assets.at("images/logo.png")" style="padding: 5px;" title="@konfiguration.toWarenkorbTitel">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span style="position: absolute; text-align: left;">
								Typ: @konfiguration.getStep1.getRahmenFormTyp.getBezeichnung<br>
								Rahmenfarbe: @konfiguration.getStep3.getFarbe<br>
							</span>
						</td>
						<td>
							<button type="submit" name="delete" value="@konfiguration.getKonfigurationsID"><img alt="x" src="@routes.Assets.at("images/delete.png")" /></button>

						</td>
						<td>
							@konfiguration.getKonfigurationsPreis &euro;
						</td>
					</tr>
				}
			</table>
		</form>
	</div>
	<div class="text">
		@if(!controllers.WarenkorbSession.getWarenkorbFromSessionAsDTO.getKonfigurationList.isEmpty){

			<table width="850px">
				<colgroup>
					<col width="500">
					<col width="200px">
					<col width="150px">
				</colgroup>
				<tr align="right" height="26px">
					<td></td>
					<td>Warenwert</td>
					<td>@(controllers.WarenkorbSession.getWarenkorbFromSession.getGesamtpreis()).00 &euro;</td>
				</tr>
				<tr align="right" height="26px">
					<td></td>
					<td>zzgl. Versankosten</td>
					<td>6,95 &euro;</td>
				</tr>
				<tr align="right" height="26px">
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr align="right" height="26px">
					<td></td>
					<td><b>Gesamtpreis</b></td>
					<td>
						<b>
 						@{
							var warenwert = controllers.WarenkorbSession.getWarenkorbFromSession.getGesamtpreis() + 6.95
							var prozentwert = controllers.WarenkorbSession.getWarenkorbFromSession.getGesamtpreis() * 0.19
							var gesamtwert = math.floor(100*(warenwert+prozentwert))/100

							gesamtwert
						} &euro;
						</b>
					</td>
				</tr>
				<tr align="right" height="26px">
					<td></td>
					<td>inkl. 19% MwSt.</td>
					<td> @((math.floor((controllers.WarenkorbSession.getWarenkorbFromSession.getGesamtpreis()) * 19))/100) &euro; </td>
				</tr>
			</table>

			<script>
				function getEmailFromPopup() {
					var emailadress = prompt("Bitte gebe Deine E-Mail-Adresse ein.", "");
					if (emailadress != ""){
						 if(validateEmail(emailadress)){
							 document.getElementById("email").setAttribute(emailadress);
							 $();
						 } else {
							 document.getElementById("bestellen").innerHTML = "geben Sie eine gültige E-Mail-Adresse ein.";
							 alert("keine gültige E-Mail-Adresse.");
						 }
					} else {
						 document.getElementById("bestellen").innerHTML = "geben Sie eine E-Mail-Adresse ein.";
						 alert("keine gültige E-Mail-Adresse.");
					}
				}

				function validateEmail(email) {
					var re = /^([\w-]+(?:\.[\w-]+)*)@@((?:[\w-]+\\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
					return re.test(email);
				}
			</script>

			<form action="" method="post">
				<input id="email" type="hidden" name="email" value="">
				<input onclick="getEmailFromPopup()" id="bestellen" style="cursor: pointer !important; margin-left: 556px; margin-top: 13px; width: 292px;" type="submit" value="Jetzt bestellen" />
			</form>
		}
	</div>
</div>
}